


.contact{
    
    margin: 15px auto;
    width: 800px;
    padding: 40px 0;
    max-width: 800px;


}

.contact-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;


}

.contact-table{
    width: 100% ;
    max-width: 1000px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    max-width: 1000px; 
    margin: 0 auto;  
    color: #0086b3;  
    border-collapse: collapse; 


}

.contact-item{
    text-align:left;
    width: 30%;
    background-color: #eee;
}

.contact-body{
    width: 100%;


}

.form-text{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 600px ;

}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 600px;
}

.contact-submit {
    width: 250px;
    background-color: white;
    color: #0086b3;
    font-weight: bold;
    display: block;
    margin: 25px auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    cursor: pointer;
}


.contact p{
    color: white;
    text-align: left;

}

.contact-submit{

    font-family: Garamond, serif;
}