@charset "UTF-8";

*{
    box-sizing: border-box;

}

body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact{
    
    margin: 0 auto;
    max-width: 1500px !important;
    width: 95% !important;
    padding: 40px 0;

}

.contact-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;


}

.contact-table{
    width: 100% !important;
    max-width: 100;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    max-width: 1000px; /* 画面幅を超えない上限を設定 */
    margin: 0 auto;    /* 中央寄せ */

}

.contact-item{
    text-align:left;
    width: 30%;
    background-color: #eee;
}

.contact-body{
    width: 100%;

}

.form-text{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 600px !important;

}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 600px !important;
}

.contact-submit {
    width: 250px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    cursor: pointer;
}

/* hanburger hanburger */

body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(to bottom, #87ceeb, #0086b3);
    background-attachment: fixed;
}

.header {
      background-color: #e6e6fa;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 3px solid #0086b3;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
    

}

#headerTextPic {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 40px;
}

h1 {
    margin: 0;
    font-family: 'Palatino', 'Palatino Linotype';
    font-size: 90px;
    color: #0086b3;
    font-weight: 1500;
    text-shadow: 2px 2px black;
}

#menu {
    position: fixed;
    top: 20px;
    right: 50px;
}

#menuBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.blue-bar {
    display: block;
    width: 50px;
    height: 6px;
    background-color: #0086b3;
    border-radius: 2px;
    padding: 5px;
    margin: 5px
}

#dropdownContent {
    border-left: 5px solid #0086b3;
    position: fixed;
    top: 0;
    right: -5px;
    height: 100%;
    width: 0;
    background-color: #add8e6;
    transition: width 0.3s;
}

.menu-links {
    text-decoration: none;
}

.menu-button {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 8%;
    display: flex;
    width: 87%;
    padding: 15px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to bottom, #00bfff, #0086b3);
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

