@charset "UTF-8";

*{
    box-sizing: border-box;

}

main {

    margin: 200px;
}
body {
    align-items: center;
    height: 100%;
    justify-content: center;
}
/*body {
    color: #0086b3;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
*/
h1 {
    margin: 0;
    font-family: 'Palatino', 'Palatino Linotype';
    font-size: 90px;
    color: #0086b3;
    font-weight: 1500;
    text-shadow: 2px 2px black;
}
.contact{
    
    margin: 15px auto;
    width: 800px !important;
    padding: 40px 0;

}

.contact-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;


}

.contact-table{
    width: 100% !important;
    max-width: 100;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    max-width: 1000px; 
    margin: 0 auto;  
    color: #0086b3;  

}

.contact-item{
    text-align:left;
    width: 30%;
    background-color: #eee;
}

.contact-body{
    width: 100%;


}

.form-text{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 600px !important;

}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 600px !important;
}

.contact-submit {
    width: 250px;
    background-color: white;
    color: #0086b3;
    font-weight: bold;
    display: block;
    margin: 25px auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    cursor: pointer;
}


.contact p{
    color: white;
    text-align: left;

}

a[href^="tel"] {
    color: #00bfff;
    font-weight: bold;
    text-decoration: none;
}
