.fade-in {
    transition: opacity 1s ease-in;
    opacity: 0;
    pointer-events: none;
}

h2 {
    color: #004359;
    font-size: 60px;
    font-family: Garamond, serif;
    text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 5px #005976,
      0 0 5px #005976,
      0 0 5px #005976,
      0 0 5px #005976,
      0 0 5px #005976;
    text-align: center;
    margin-bottom: 0;
}

#slogan {
    color: #004359;
    font-size: 30px;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: Garamond, serif;
}

#intro {
    margin-top: 40px;
    text-align: center;
    font-family: Garamond, serif;
}

.paragraphs {
    color: #002d3c;
    font-size: 20px;
    font-family: Garamond, serif;
}

#p1-topic {
    margin-top: 100px;
    margin-left: 140px;
    font-size: 28px;
    text-shadow: 1px 0 black;
}

.boxes {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.box1 {
    margin-left: 160px;
    perspective: 1000px; 
}

.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s; 
    transform-style: preserve-3d; 
}

.box1:hover .box-inner {
    transform: rotateY(180deg);
}

.box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid #00526e;
    box-shadow: 0 0 25px 5px rgba(0, 134, 179, 0.75);
}

.box-front {
    background-color: #e6e6fa;
    transform: rotateY(0deg); 
}

.box-back {
    background-color: #add8e6; 
    transform: rotateY(180deg); 
}


#p2-topic {
    margin-right: 160px;
    margin-top: -400px;
    text-align: right;
    font-size: 28px;
    text-shadow: 1px 0 black;
}

.box2 {
    margin-left: 970px;
    margin-top: -3px;
    perspective: 1000px;
}

.box2:hover .box-inner {
    transform: rotateY(180deg);
}

#p3-topic {
    margin-top: -100px;
    margin-right: 90px;
    text-align: center;
    font-size: 28px;
    text-shadow: 1px 0 black;
}

.box3 {
    margin-left: 570px;
    perspective: 1000px;
}

.box3:hover .box-inner {
    transform: rotateY(180deg);
}

#btm-txt {
    color: #003d51;
    font-size: 60px;
     text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 5px #006c91,
      0 0 5px #006c91,
      0 0 5px #006c91,
      0 0 5px #006c91,
      0 0 5px #006c91;
    font-weight: 1500;
    text-align: center;
}