html, body {
    background: linear-gradient(to bottom, #87ceeb, #01394c);
    height: 100%;
    font-family: "Garamond";
    margin: 0;
    padding: 0;
}

.nav {
    margin-top: 100px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
}

.textBox {
    font-size: 18px;
    width: 60%;
    float: left;
    border: 2px solid #add8e6;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}

.imageBox {
    width: 35%;
    float: right;
    text-align: center;
}

.imageBox img {
    max-width: 100%;
    border-radius: 6px;
}

.clear {
    clear: both;
}

.buyButton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #00bfff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.buyButtonHover {
    background-color: #005f80;
}

.features {
    font-size: 18px;
    margin: 30px auto;
    padding: 30px;
    background-color: #add8e6;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.features h2 {
    color: #0086b3;
}

.features ul {
    list-style-type: square;
    padding-left: 20px;
}

.centeredTitle {
    text-align: center;
    font-family: "Cascadia Code";
}

.header {
    background-color: #e6e6fa;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    border-bottom: 3px solid #0086b3;
}

#menu {
    top: 20px;
    right: 50px;
    margin-left: auto;
}

#menuBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: -25px;
    margin-right: 40px;
}

.blue-bar {
    display: block;
    width: 50px;
    height: 6px;
    background-color: #0086b3;
    border-radius: 2px;
    padding: 5px;
    margin: 5px
}

#dropdownContent {
    border-left: 5px solid #0086b3;
    position: fixed;
    top: 0;
    right: -5px;
    height: 100%;
    width: 0;
    background-color: #add8e6;
    transition: width 0.3s;
}

.menu-links {
    text-decoration: none;
}

.dropdown-buttons {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 8%;
    display: flex;
    width: 87%;
    padding: 15px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to bottom, #00bfff, #0086b3);
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    font-family: Garamond, serif;
}

#headerTextPic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 40px;
}

.hHeaderText {
    margin: 0;
    font-family: Garamond, serif;
    font-size: 90px;
    color: #0086b3;
    font-weight: 1500;
    text-shadow: 2px 2px black;
}